@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
} */

/* Nova integração */
body{
    font-family: 'Poppins', sans-serif;
}


/* header {
    background-color: #005f6b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}


header input[type="text"] {
    width: 200px;
} */

header input[type="text"], header select {
    margin-top: 10px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
}


.column {
    width: 30%;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.product h2 {
    margin: 0;
    text-align: center;
}

.product div {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.product img {
    width: 200px;
}


.product p {
    margin-bottom: 0;
}

footer{
    padding: 30px;
    background-color: #005f6b;
    text-align: center;
}