/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

/* body{
    font-family: 'Poppins', sans-serif;
} */

header input[type="text"], header select {
    margin-top: 10px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
}

.containerProduto {
    display: flex;
    justify-content: space-between;
}


.column {
    width: 30%;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.product:hover {
    background-color: #f0f0f0; /* Change to your desired hover background color */
    transform: scale(1.05); /* Slightly enlarges the element */
}

.product h2 {
    margin: 0;
    text-align: center;
}

.product div {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.product img {
    width: 200px;
}


.product p {
    margin-bottom: 0;
}
