@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #005f6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    margin: 60px;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: white;
    font-size: 80px;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #008c9e;
    border-radius: 8px;
    box-shadow: 0px 10px 40px #343838;
}

.card-login > h1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input {
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    color: #00dffc;
    font-size: 12pt;
    box-shadow: 0 10px  40px;
    box-sizing: border-box;
    outline: none;
}

.textfield > label {
    color: white;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #00dffc;
}

.btn-login {
    width: 100px;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #00dffc;
    background: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px ;
}

button a {
    text-decoration: none;
}

@media only screen and (max-width:950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width:950px) {
    .main-login {
        flex-direction: column;
    }
    
    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login > h1 {
        display: none;
    }
}